* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 229);
    display: flex;
}

aside {
    background-color: #FBFAF9;
    padding: 16px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding-left: 0;
}

li a,
li a:visited {
    text-decoration: none;
    color: black;
}

main {
    width: 90%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
}